[submodule "backend/fastapi_auth"]
	path = backend/fastapi_auth
	url = https://github.com/idrobodev/fastapi_auth.git
[submodule "backend/fastapi_dashboard"]
	path = backend/fastapi_dashboard
	url = https://github.com/idrobodev/fastapi_dashboard.git
[submodule "backend/fastapi_formatos"]
	path = backend/fastapi_formatos
	url = https://github.com/idrobodev/fastapi_formatos.git
[submodule "coptua_react"]
	path = coptua_react
	url = https://github.com/idrobodev/coptua_react.git
